.om .selectedhilight
{
  background: lime;
}
.om .secondhilight
{
  background-color: #EF9ECA;
}
.om .borderfocus
{
	border:1px dashed grey;

}
.om .offscreen
{
  position: absolute;
  left: -10000px;
}