/* Overall styles and sizing */
html,body
{
  background:%%BG%%;
  color:%%FG%%;
  font-family: Verdana, sans-serif;
}

body
{
  width:770px;
}
html.zoom15 body { width:1155px; }
html.zoom20 body { width:1540px; }

body.progressbottom
{
  width:600px;
}
html.zoom15 body.progressbottom, html.zoom15 #questionouter { width:900px; }
html.zoom20 body.progressbottom, html.zoom20 #questionouter { width:1200px; }

/* Generic styles */
input
{
  font-size:100%;
}

.clear
{
  clear:both;
  padding-bottom:1px;
}

a
{
  color:%%FG%%;
}


/* Access */
.skiplink
{
  position:absolute;
  left:-1000px;
  top:0;
}

/* OU logo */
#oulink img
{
  border:none;
}
body.progressbottom #oulink
{
  display:block;
  margin-bottom:4px;
}
body.progressleft #oulink,
body.progresswide #oulink
{
  float:left;
  width:132px;
  padding-top:7px;
  margin-right:38px;
}
* html body.progressleft #oulink,
* html body.progresswide #oulink
{
  padding-top:4px;
}

/* Titles section (middle of topbar) */
#titles
{
  float:left;
  width:412px;
}
html.zoom15 #titles { margin-left: 73px;width: 630px; }
html.zoom20 #titles { margin-left:148px; width: 846px; }
html.zoom15 body.progressbottom #titles { margin-left:0; width: 618px; }
html.zoom20 body.progressbottom #titles { margin-left:0; width: 824px; }

#titles h1
{
  font: 24px normal Verdana, sans-serif;
  color: #acb0d5;
/*FIXED*/ color: %%FG%%;
  margin:0;
}
html.zoom15 #titles h1 { font-size:36px; }
html.zoom20 #titles h1 { font-size:48px; }

#titles h2
{
	font-weight: bold;
  font-size:13px;
	margin:4px 0 5px 0;
}
html.zoom15 #titles h2 { font-size: 19.5px; }
html.zoom20 #titles h2 { font-size: 26px; }

#auxtitle,#progressinfo
{
  font: normal 10px Verdana,sans-serif;
}
html.zoom15 #auxtitle,html.zoom15 #progressinfo { font-size:15px; }
html.zoom20 #auxtitle,html.zoom20 #progressinfo { font-size:20px; }

/* Buttons section (right of topbar) */
#buttons
{
  float:left;
  width:188px;
  margin-top:4px;
  text-align:right;
}
* html #buttons { margin-top:0px; }
html.zoom15 #buttons { width:282px; }
html.zoom20 #buttons { width:376px; }

#buttons .button
{
  display:inline;
  border:1px solid #ccc;
/*FIXED*/ border:1px dotted %%FG%%;
  padding:2px;
  font-size:10px;
  line-height:24px;
}
html.zoom15 #buttons .button  { font-size:15px; line-height: 36px;}
html.zoom20 #buttons .button  { font-size:20px; line-height: 48px;}

#buttons .button a
{
 text-decoration:none;
}

#buttons .buttonspacer
{
  display:inline;
  padding-left:8px;
}

/* Main section (question goes within) */
#main
{
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
/*FIXED*/ border-top:1px dotted %%FG%%;
/*FIXED*/ border-bottom:1px dotted %%FG%%;
  padding-top:8px;
  padding-bottom:7px;
}
body.progressbottom #main,
body.progresswide #main
{
  padding-bottom:4px;
}
* html body.progressbottom #main,
* html body.progresswide #main { padding-bottom:7px; }

#questionouter
{
  float:left;
  width:600px;
}
#questionouter form
{
  margin-bottom:0;
}



/* Om logo */
#logo
{
  margin-top:6px;
  text-align:right;
}
#logo img
{
	border:0;
}

/* Progress indicators/navigation: shared */
#progress
{
  font:0px Verdana,sans-serif;
  margin-left:-2px;
}

#progress .question,#progress .text,#progress .sectiontag
{
  font-size:10px;
  pc:2;
}
html.zoom15 #progress .question,html.zoom15 #progress .text,html.zoom15 #progress .sectiontag { font-size:15px; }
html.zoom20 #progress .question,html.zoom20 #progress .text,html.zoom20 #progress .sectiontag { font-size:20px; }

#progress .sectiontag
{
  font-weight:bold;
  margin-left:1px;
}

#progress .question,#progress .text
{
  display:inline;
  margin:2px;
}
#progress .question a,#progress .question span,#progress .text a,#progress .text span
{
  border:1px solid #888;
/*FIXED*/ border-color:%%FG%%;
}

#progress a,#progress span
{
  padding:2px;
  text-decoration:none;
  color:%%FG%%;
}

#progress .done a,#progress .done span
{
  background:#d5d7ea;
/*FIXED*/ background:%%BG%%;
/*FIXED*/ border-style:dotted;
}

#progress .unavailable a, #progress .unavailable span
{
  background:#ddd;
	color:#888;
/*FIXED*/ background:%%BG%%;
/*FIXED*/ color:%%FG%%;
/*FIXED*/ border-style:none; 
}

#progress .current span,#progress .current a
{
  background:#888;
/*FIXED*/ background:%%BG%%;
	color:%%BG%%;
/*FIXED*/ color:%%FG%%;
  font-weight:bold;
}	

#progress span
{
  font-size:0;
}
#progress span.t
{
  font-size:10px;
}
html.zoom15 #progress span.t { font-size:15px; }
html.zoom20 #progress span.t { font-size:20px; }

/* Progress on left */
body.progressleft #progress
{
  float:left;
  width:163px;
  padding-right:8px;
  margin-top:1px;
}
html.zoom15 body.progressleft #progress { width:225px; }
html.zoom20 body.progressleft #progress { width:300px; }

body.progressleft #progress .sectiontag
{
  font-weight:bold;
	margin-top:6px;
}

/* Progress on bottom */
body.progressbottom #progress,
body.progresswide #progress
{
  clear:left;
  padding-top:7px;
}
body.progressbottom #progress .section,
body.progresswide #progress .section
{
  margin-top:2px;
}
* html body.progressbottom #progress .section,
* html body.progresswide #progress .section
{
  margin-top:5px;
}

body.progressbottom #progress .sectiontag,
body.progresswide #progress .sectiontag
{
  display:inline;
  margin-right:3px;
}

body.progressbottom #progress .sectiontagafter,
body.progresswide #progress .sectiontagafter
{
  display:inline;
}

/* Singles pages */
.singleslinks
{
	font-size:10px;
	text-align:right;
  margin-bottom:4px;
}
body.singles
{
  margin-top:2px;
}
.singles #main
{
	border:none; padding:0;
}

/* Elements used in basic pages */
.basicpage
{
  font-size:13px;
  width:600px;
}
html.zoom15 .basicpage { font-size:19.5px; width:900px; }
html.zoom20 .basicpage { font-size:26px; width:1200px; }

.basicpage p,.basicpage li
{
  margin:0 0 0.5em 0;
  padding: 0;
}

.basicpage ul,.basicpage ol
{
  margin:0 0 0.5em 2.5em;
  padding: 0;
}

em.warning
{
	font-style:normal;
	font-weight:bold;
	color:red;
}

.basicpage h3
{
  font-size:100%;
  font-weight:bold;
  margin:1em 0 0.5em 0;
}

.basicpage table
{
  border:1px solid black;
  margin:0.5em 0;
}
.basicpage table.topheaders th
{
  border-bottom: 1px solid %%FG%%;
  text-align:left;
}
.basicpage table.leftheaders th
{
  border-right:1px solid black;  
  text-align:left;
}
.basicpage th,.basicpage td
{
  padding:0px 4px 4px 4px;
  vertical-align:top;
}
.basicpage table.leftheaders th,.basicpage table.leftheaders td
{
  padding:2px 4px;
}
.basicpage table abbr
{
  border-bottom:none;
}

.basicpage table tr.sectionname td
{
  padding-top:2px;
  border-bottom:1px dotted black;
  font-weight:bold;
}
.basicpage table tr.totals 
{
  font-weight:bold;
}


.displayoptions .examples .option img
{
  border:1px solid black;
  margin-bottom:4px;
}
.displayoptions .examples .option
{
  float:left;
  width:210px;
  margin-right:0;
}
.displayoptions .examples img 
{ 
  display:block; 
}
.displayoptions .examples .right
{
  width:180px;
}
.displayoptions .examples .rad
{
	display:block;
  margin-left:-4px;
}
.displayoptions .setbutton
{
  margin-top:8px;
  margin-bottom:16px;
}


.adminmsg
{
	margin: 1em 2em;
	border: 1px solid #ccc;
	padding: 4px;
}

.basicpage p.email
{
  margin:0.5em 0 0.7em; 
}

.errormessage h1
{
  font-size:130%;
  margin-bottom:.77em;
}
.errormessage h2
{
  margin-top:0;
  margin-bottom:0.5em;
  font-size:100%;
}
.errormessage .msg
{
  font-weight:bold;
  border: 1px solid black;
  padding: 1em 1em;
  margin-bottom:1em;
} 
.errormessage .technical
{
  margin-top:4em;
  background:#eee;
  color:#555;
  padding:1em;
}
.errormessage a
{
  font-weight:bold;
}
.errormessage #exception
{
  font-family: "Andale Mono", monospace;
  font-size:75%;
}

#contentbox
{
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:4px 0 3px 0;
}

/* Reports */
.report h4
{
  margin:0 0 0.5em;
}
.report em
{
  font-style:normal;
  font-weight:bold;
}
.questionreport .pi,.userreport .tattempt
{
  border-bottom:1px solid black;
  margin-bottom:4em;
}
.questionreport .attempt,.userreport .qattempt
{
  border-top:1px dotted #acb0d5;
  padding:0.5em 0;
}
.report .question, .report .answer
{
  display:inline;
  margin-right:1em;
}
.report .scores .t
{
  display:inline;
  margin-right:1em;
}
.report .scores div
{
  display:inline;
}
.report .val
{
  font-weight:bold;
}
.report .sessions 
{
  font-size:0.75em;
  margin:0.8em 0 1em 1em;
}
.report .sessions .useragent 
{
  color:#555;
}


/* Print-specific style */
@media print
{
body,.basicpage,#questionouter,#titles
{
  width:610px !important;
  float:none;
}
#progress
{
  display:none !important;
}
#topbar #buttons
{
  display:none !important;
}
/* this part just because editfields don't print in white on black mode */
.om .editfieldforced, .om .editfieldnonscary, .om textarea, .om .editfielddisabled,.om .editfielddisabledfixed
{
  color:black !important;
  background:white !important;
}
	
}
