<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		version="3.0">
	<display-name>OpenMark developer servlet</display-name>
	<context-param>
		<param-name>jdk-home</param-name>
		<!-- Modify this value to point to the home folder of a Java 1.4+ JDK -->
		<param-value>@JDKHOME@</param-value>		
	</context-param>	
	
	<context-param>
		<param-name>ant-home</param-name>
		<!-- Modify this value to point to the home folder of an Ant 1.7 install -->
		<param-value>@ANTHOME@</param-value>		
	</context-param>	
	
	<!-- Additional optional parameter ant-command can  -->

	<servlet>
		<servlet-name>Developer</servlet-name>
		<servlet-class>om.devservlet.DevServlet</servlet-class>
	</servlet>
	
	<!-- Give servlet all URLs -->
	<servlet-mapping>
		<servlet-name>Developer</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Developer</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Developer</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
