.om .dropbox
{
  position:absolute;
  visibility:hidden;
  border:1px solid pink;
}
.om .dropboximg,#om .dragboximg
{
  border:0;
  padding:0;
  margin:0;
}
.om .dropbox.dropactiveover {
  border: 1px solid #888 !important;
  box-shadow: 0 0 5px 5px rgba(255, 255, 150, 1);
}

.om .dropboxsidelabel
{
  font-size:10px;
  vertical-align:4px;
  padding-left:2px;
}

.om .dragbox
{
  position:absolute;
  visibility:hidden;
  border:1px solid %%COLOUR:text%%;
  padding:2px;
  text-align:center;
  z-index:10;
  cursor:default;
}
.om .dragbox.withsidelabel .dragboxinner
{
  padding-right:%%SIZE:10px%%;
}
.om .dragboxsidelabel
{
  font-size:%%SIZE:10px%%;
  position:absolute;
  text-align:right;
  bottom:-1px;
  right:2px;
}

.om .dragboxmoving {
  z-index: 100;
  box-shadow: 3px 3px 4px #000;
}

@media print /* For Bug 4942 */
{
  .om .dragbox {
    overflow: hidden;
  }
  .om .dragbox .dragboxinner {
    margin: 0 -2px;
  }
}

@media screen /* For Firefox printing bug 252263 */
{
  .om .transparent
  {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity:50%;
  }
}

