.om .editfieldforced, .om .editfieldnonscary, .om textarea, .om .editfielddisabled,.om .editfielddisabledfixed
{
  padding:2px;
  margin:0px;
  background-color:%%COLOUR:innerbg%%;
  color:%%COLOUR:text%%;
  border:1px solid %%COLOUR:text%%;
}
.om .editfieldforced
{
  vertical-align:top;
}
.om .editfielddisabled
{
  color:%%COLOUR:disabledtext%%;
  border-color: %%COLOUR:disabledbg%%;
}
.om .editfielddisabledfixed
{
	border-style:dotted;
}
* html .editfieldnonscary
{
	vertical-align:-3px; /* do not scale to size, doesn't work */
}
