iframe
{
	border:1px SOLID %%COLOUR:text%%;
}
.editadvancedfielddisabled
{
    border-color: %%COLOUR:innerbg%%;
}
.editadvancedfielddisabledfixed
{
	border:1px DOTTED;
}

.editadvancedfield.readonly span.answer
{
	background-color: white;
	border: 1px rgb(187,187,187) solid;
	padding: 0.3em;
}