iframe
{
	border:1px SOLID %%COLOUR:text%%;
}
.editadvancedfielddisabled
{
    border-color: %%COLOUR:innerbg%%;
}
.editadvancedfielddisabledfixed
{
	border:1px DOTTED;
}
.editadvancedfield.readonly
{
    margin: 0;
    padding: 0;
}
.editadvancedfield.readonly span.answer
{
	background-color: white;
	border: 1px %%COLOUR:disabledtext%% solid;
	margin: 0;
    padding: 1px 0 0 3px;
	display: block;
    overflow-x: auto;
}
