.om .equation
{
  display:inline;
}
.om .equation .placeholder
{
  position:absolute;
  top: 0;
  left: 0;
  font-size:%%SIZE:13px%%;
  visibility:hidden;
}
.om .equation img /* bit dodgy */
{
  border:0;
  padding:0;
  margin:0;
}
