.om,.om input,.om textarea
{
  font: %%SIZE:13px%%/%%SIZE:16px%% Verdana, sans-serif;
}
.om
{
  color: %%COLOUR:text%%
}
.om .gridcontainer
{
  float:left;
  position:relative;
  padding:4px;
  _overflow:hidden;
}
.om .gridgroup
{
  float:left;
}

.om .clear
{
  clear:both;
}
.om .nowrap
{
  white-space: nowrap;
}
.om .endform
{
  clear:both;
	background:%%COLOUR:bg%%; /* needed for IE */
  font-size:0;
  height:1px;
}
.om .lang-el {
  /* This choice of font is at the request of the OU Arts faculty. */
  font-family: Palatino Linotype, Verdana, sans-serif;
}
