.om table
{
border-collapse:collapse;
background:%%COLOUR:innerbg%%;
border:1px solid %%COLOUR:text%%;
}

.om td
{
border: 1px solid %%COLOUR:text%%;
margin:0;
padding:2px;
}

.om th
{
border: 1px solid %%COLOUR:text%%;
margin:0;
padding:2px;
background:%%COLOUR:innerbghi%%;
}

.om th.left
{
background:%%COLOUR:innerbghi%%;
}

.om th.foot
{
background:%%COLOUR:innerbghi%%;
}

.om td.foot
{
background:%%COLOUR:innerbghi%%;
}

.om td.right
{
background:%%COLOUR:innerbghi%%;
}