.om .selectedhilight
{
  background: %%COLOUR:innerbg%%;
}
.om .secondhilight
{
  background-color: %%COLOUR:innerbg3%%;
}
.om .borderfocus
{
	border:1px dotted %%COLOUR:text%%;
}
.om .offscreen
{
  position: absolute;
  left: -10000px;
}